@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --main-color: #f7f7f7;
}
body{
    background-color: #0099cc;
}

/* Header Start */
header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: transparent;
    /* box-shadow: 0px 1px 5px 0px #e49158; */
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 10%;
    box-shadow: 0 .1rem .1rem rgba(0,0,0, .2);
    transition: 0.5s;
}
.logo img{
    width: 100px;
}
.navlist{
    display: flex;
}
.navlist a{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    border-radius: 6px;
    padding: 8px;
    transition: all .50s;
}
.navlist a:hover{
    background-color: black;
}
#menu-icon{
    font-size: 25px;
    color: #ff9999;
    z-index: 10001;
    display: none;
    cursor: pointer;
}
header.sticky{
    background: #0099cc;
    padding: 16px 9%;
}
@media (max-width:920px){
    #menu-icon{
        display: block;
        color:#fff;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: rgb(194, 189, 189);
        transition: all .50s ease;
    }
    .navlist a{
        color: black;
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navlist.active{
        right: 0;
    }

}

@media (max-width:1200px){
    header{
        padding: 16px 5%;
    }
}
@media (max-width:951px){
    header{
        padding: 16px 9%;
    }
}


/* Header End */

/* Home Section Start */
.home{
    padding: 100px 11.5% 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    transition: all .50s ease;
}
.home .img{
    flex:  1 1 200px;
}
.home .img img{
    border-radius: 50%;
    width: 100%;
    animation:  c 5s linear infinite;
    box-shadow: 0 0 25px gold,
                0 0 50px #0099cc,
                0 0 100px var(--main-color);
}
@keyframes c{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
}
.home-content{
    flex: 1 1 500px;
    margin-top: 90px;
}
.home-content .text{
    letter-spacing: 1px;
    font-size: 35px;
    color: #fff;
    font-family: "Rubik Scribble", system-ui;
  font-weight: 700;
  font-style: normal;
}
.home-content h3{
    font-size: 43px;
    color: black;
    margin-top: 5px;
    font-weight: 700;
    font-family: "Kanit", sans-serif;
 
  font-style: normal;
}
/* .home-content p{
    letter-spacing: 1px;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
} */
.home button{
    position: relative;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 7px;
    border: 1px solid #f7f7f7;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    cursor: pointer;
}
.home button:hover{
    color: #fff;
    box-shadow: 0 0 30px 5px #f7f7f7;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.25s ease-out;
}


@keyframes sh02{
    form {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
button:active{
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
@media (max-width:1200px){
    .home{
        padding: 110px 7% 90px;
    }
}
@media (max-width:951px){
    .home{
        padding: 110px 11% 90px;
        height: auto;
    }
    
}
/* Home Section End */


.rise {
    display: flex;
    justify-content: center; /* Horizontally centers the text */
    align-items: center; /* Vertically centers the text */
    height: 30vh;/* Makes sure the div takes full viewport height */
    text-align: center; /* Center the text within the h3 element */
}


.rise h3 {
    font-size: 4em; /* Adjust font size to your preference */
    color: #fff; /* Customize text color */
    margin: 0; /* Remove any default margin */
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width:1109px){
    .rise h3 {
        font-size: 3em; /* Adjust font size to your preference */
        color: #fff; /* Customize text color */
        margin: 0; /* Remove any default margin */
        font-family: "Rubik Scribble", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    .rise{
        height: 10vh;
    }

}
/* Top Card Start */
.top-card{
    padding: 0px 11.5% 0px;
    height: 50vh;
   /* display: grid;
    grid-template-columns: repea t(2, 1fr); */
    text-align: center;
    align-items: center;
    gap: 1.5rem;
    transition: all .50s ease;
}
.card-1{
    padding: 20px;
    border: 2px solid #f7f7f7;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}

.card-1 h3{
    font-family: sans-serif;
}

.card-1:hover{
    box-shadow: 0 0 30px 5px #f7f7f7;
}
@media (max-width:920px){
    .top-card{
        grid-template-columns: 1fr;
    }
}
@media (max-width:1200px){
    .top-card{
        padding: 110px 7% 90px;
    }
}
@media (max-width:951px){
    .top-card{
        padding: 110px 11% 90px;
    }
    .top-card{
        height: auto;
    }
}


/* Road Map Start */
.road-map{
    padding: 100px 11.5% 100px;
    transition: all .50s ease;
}
.road-map .main-text h3{
    margin-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 4em;
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}
.road-map .card-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 0.90rem;
    margin-top: 30px;
}
.road-map .card-content .row{

    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #0c0908 5%, #0c0c534a 50%);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.road-map .card-body{
    padding: 20px;
}
.road-map .card-body h3{
    margin-top: 15px;
    font-size: 15px;
    color: #fff;
}
.road-map .card-body h3 span{
    color: #f7f7f7;
    font-weight: bold;
    font-size: 20px;
}
@media(max-width:920px){
    .road-map .card-content{
        grid-template-columns: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
}
@media(max-width:1200px){
    .road-map{
        padding: 110px 7% 90px;
    }
}
@media(max-width:951px){
    .road-map{
        padding: 110px 11% 90px;
        height: auto;
    }
}
/* Road Map End */

.aptoduck-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f7f7f7;
}

.aptoduck-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: "Rubik Scribble", system-ui;
}

.aptoduck-container ol {
    text-align: left;
    margin: 0 auto;
    padding-left: 0;
}

.aptoduck-container li {
    margin-bottom: 10px;
    font-size: 1.1em;
    list-style-position: inside;
    font-family: "Kanit", sans-serif;
}

@media (max-width: 600px) {
    .aptoduck-container h1 {
        font-size: 1.5em;
    }

    .aptoduck-container li {
        font-size: 2em;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
    }
}

/* Nfts Art Start */
.nfts-art{
    padding: 100px 11.5% 100px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    transition: all .50s ease;
}

.nfts-art .card-2 p{
    color: #f7f7f7;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 10px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.nfts-art .card-2 button:hover{
    width: 165px;
}
.nfts-art .card-3 img{
    width: 100%;
}
@media (max-width:920px){
    .nfts-art{
        grid-template-columns: 1fr;
    }
}
@media(max-width:1200px){
    .nfts-art{
        padding: 110px 7% 90px;
    }
}
@media (max-width:951px){
    .nfts-art{
        padding: 110px 11% 90px;
        height: auto;
    }
}
/* Nfts Art End */

@media (max-width:920px){
    footer{
        font-size: 2rem;
    }
}


